@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
:root {
	/* Main colors */
	--Dark-cyan: #3c8067;
	--Cream: #f2ebe3;
	/* Neutral colors */
	--Very-dark-blue: #1c232b;
	--Dark-grayish-blue: #6c7289;
	--White: #ffffff;
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html,
body {
	height: 100vh;
}
.container {
	width: 100%;
	min-height: calc(100% - 11px);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--Cream);
}

/* the outer card style */
.card {
	overflow: hidden;
	max-width: 345px;
	min-height: 450px;
	position: relative;
	background-color: white;
	border-radius: 10px;
}
@media (min-width: 1440px) {
	.card {
		max-width: 600px;
		display: flex;
		flex-direction: row;
	}
	.content .name {
		max-width: 200px;
	}
	.content p {
		max-width: 260px;
		line-height: 25.2px;
		letter-spacing: 0.42px;
	}
	.content button{
		max-width: 236px;
	}
}
.content {
	width: 50%;
	padding-left: 32px;
}
picture {
	position: relative;
	max-width: 50%;
}
picture * {
	max-width: 100%;
	height: 100%;
}

/* the content style*/
.content .brand {
	margin-top: 34px;
	color: var(--Dark-grayish-blue);
	font-size: 12px;
	font-family: Montserrat;
	font-weight: 600;
	line-height: 12px;
	letter-spacing: 5.16px;
}
.content .name {
	width: 300px;
	margin-top: 21px;
	color: var(--Very-dark-blue);
	font-size: 32px;
	font-family: Fraunces;
	font-weight: 700;
	line-height: 32px;
	word-wrap: break-word;
}
.content p {
	width: 295px;
	margin-top: 24px;
	color: var(--Dark-grayish-blue);
	font-size: 14px;
	font-family: Montserrat;
	font-weight: 500;
	line-height: 23px;
}
.content .price {
	margin-top: 18px;
	display: flex;
	align-items: center;
}

.content .newprice {
	margin-right: 20px;
	color: var(--Dark-cyan);
	font-size: 32px;
	font-family: Fraunces;
	font-weight: 700;
}
.content .oldprice {
	text-decoration-line: line-through;
	color: var(--Dark-grayish-blue);
	font-size: 13px;
	font-family: Montserrat;
	font-weight: 500;
}
.content button {
	width: 295px;
	height: 48px;
	border-radius: 10px;
	background-color: var(--Dark-cyan);
	margin: 26px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content button:active {
	background-color: #1a4031;
}
button .text {
	color: #fff;
	margin-left: 11px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
}

/* the author rights style */
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
