:root{
    /* Main colors */
--Dark-cyan:#3c8067;
--Cream:#f2ebe3;
/* Neutral colors */
--Very-dark-blue:#1c232b;
--Dark-grayish-blue:#6c7289;
--White:#ffffff;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Cream);
}
.card{
    position: relative;
    background-color:white;
    border-radius: 10px; 
}
@media (min-width:1440px){
    .card{
            display: flex;
            flex-direction: row;
    }
}
.content{
    display: flex;
    padding-left: 32px;
}
picture *{
    width: 50%;
    height: 100%;
}


   .attribution {
    position: fixed;
    bottom: 0%;
       font-size: 11px;
       text-align: center;
   }

   .attribution a {
       color: hsl(228, 45%, 44%);
   }